@use "../../utils/mixins/flex" as *;
@use "../../utils/constants/sizes" as *;
@use "../../utils/constants/colors" as *;

.wrapper {
  @include flexible(column, center, center);
  flex-basis: 10%;

  gap: 10px;
  text-align: center;

  .icon {
	transition: fill 0.5s;
  }

  .title {
	transition: color 0.5s;
  }

  &:hover {
	.icon {
	  fill: $hover;
	}

	.title {
	  color: $hover;
	}
  }

  @media screen and (max-width: $pre-big) and (min-width: $medium) {
	flex-basis: 21%;
  }

  @media screen and (max-width: $medium) {
    @include flexible(row, center, flex-start);

    padding-bottom: 5px;
    width: 100%;

    border-bottom: 1px solid $border;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}

.burger {
  @media screen and (max-width: $medium) {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition: opacity #{0.2 * $i}s ease-in-out;
      }
    }

    opacity: 1;
  }
}

