@use "/src/utils/mixins/flex.scss" as *;
@use "/src/utils/constants/sizes.scss" as *;
@use "/src/utils/constants/colors.scss" as *;

.wrapper {
  @include flexible(row, center, center);

  background: $back;

  .inner {
	@include flexible(row, flex-start, space-around);

	padding: 20px;
	gap: 20px;
    width: $pre-big;
	flex-wrap: wrap;

	@media screen and (max-width: $medium) {
	  display: none;
	}
  }

  .burger {
	@media screen and (max-width: $medium) {
	  @include flexible(column, flex-start, flex-start);
	}
  }
}



