@use "/src/utils/mixins/flex.scss" as *;
@use "/src/utils/constants/colors.scss" as *;

.wrapper {
  @include flexible(row, center, center);

  width: 100%;
  position: relative;

  .about {
    @include flexible(column, flex-start, center);

    padding: 20px;
    gap: 20px;
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 25px;

    background: white;
    border: 3px solid $hover;
  }
}