@use "/src/utils/mixins/flex.scss" as *;
@use "/src/utils/constants/sizes.scss" as *;
@use "/src/utils/constants/colors.scss" as *;

.wrapper {
  @include flexible(column, center, center);

  width: 100%;
  margin-top: 50px;
  gap: 10px;

  .toolbox {
    @include flexible(row, center, space-between);

    width: 100%;

    .switcher {
      padding: 5px;

      border: 2px solid $title;
      cursor: pointer;

      @media screen and (min-width: $pre-big) {
        &:hover {
          color: white;
          background: $title;
        }
      }

      @media screen and (max-width: $pre-big) {
        &:active {
          color: white;
          background: $title;
        }
      }
    }
  }
}
