@use "/src/utils/mixins/flex.scss" as *;
@use "/src/utils/constants/sizes.scss" as *;
@use "/src/utils/constants/colors.scss" as *;

.wrapper {
  @include flexible(row, center, center);

  background: $back;

  .inner {
	@include flexible(row, center, space-between);

	padding: 20px;
	width: $pre-big;

	.start {
	  @include flexible(row, center, center);

	  gap: 10px;

	  .menu {
		display: none;

		@media screen and (max-width: $medium) {
		  display: block;
		}
	  }

	  .logo {
		width: 200px;
		height: 50px;

		@media screen and (max-width: $medium) {
		  width: 160px;
		  height: 40px;
		}
	  }
	}

	.info {
	  @include flexible(column, flex-start, center);

	  gap: 5px;

	  @media screen and (max-width: $medium) {
		display: none;
	  }
	}

	.socials {
	  @include flexible(row, center, center);

	  gap: 20px;
	}

	@media screen and (max-width: $pre-big) {
	  width: 100%;
	}
  }
}


