@use "/src/utils/mixins/flex.scss" as *;
@use "/src/utils/constants/sizes.scss" as *;
@use "/src/utils/constants/colors.scss" as *;

.wrapper {
  @include flexible(row, center, center);

  width: 100%;

  background: $back;

  .inner {
	@include flexible(row, center, space-between);

	padding: 20px;
	width: $pre-big;

	.info {
	  @include flexible(column, flex-start, center);

	  gap: 5px;

	  @media screen and (max-width: $medium) {
		display: none;
	  }
	}

	@media screen and (max-width: $pre-big) {
	  width: 100%;
	}
  }
}


