@use "/src/utils/constants/sizes" as *;
@use "/src/utils/mixins/flex.scss" as *;

.wrapper {
  @include flexible(row, center, center);

  gap: 10px;

  .logo {
	width: 200px;
	height: 50px;

	@media screen and (max-width: $medium) {
	  width: 160px;
	  height: 40px;
	}
  }
}