@use "../../../utils/mixins/flex" as *;
@use "../../../utils/constants/sizes" as *;
@use "../../../utils/constants/colors" as *;

.wrapper {
  @include flexible(row, center, center);

  width: 100%;
  border-left: 5px solid $border;
  padding: 10px 5px 10px 0;
  gap: 10px;
  cursor: pointer;

  &:hover {
	background: $back;
	border-left: 5px solid $hover;
  }

  .count {
	text-align: end;
	flex-basis: 25%;
  }

  .name {
	flex-basis: 75%;
  }
}

.active {
  background: $back;
  border-left: 5px solid $hover;
}