@use "../../utils/mixins/flex" as *;
@use "../../utils/constants/sizes" as *;
@use "../../utils/constants/colors" as *;

.wrapper {
  @include flexible(column, flex-start, center);
  background: white;

  @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
    @include flexible(column, flex-start, flex-start);
    position: absolute;
    left: -$mini;
    z-index: 15;
    transition: left 0.5s ease-in;
  }

  @media screen and (max-width: $pre-medium) {
    display: none;
    position: absolute;
    z-index: 16;
    width: 100%;
  }
}

.active {
  @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
    left: 0;
  }

  @media screen and (max-width: $pre-medium) {
    @include flexible(column, flex-start, flex-start);

    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  }
}
