@use "../../utils/constants/colors" as *;
@use "../../utils/mixins/text" as *;

.default {
  @include text(16px, $title, none, normal);
}

.mini {
  @include text(13px, $low, none, normal);
}

.big {
  @include text(18px, $title, none, normal);
}

.large {
  @include text(30px, $title, none, bold);
}

.title {
  @include text(36px, $title, none, bold);
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.hovered {
  &:hover {
       color: orange;
       transition: 0.5s;
       cursor: pointer;
  }
}