@use "/src/utils/mixins/flex" as *;
@use "/src/utils/constants/colors" as *;

.wrapper {
  @include flexible(row, center, center);

  width: 100%;
  height: 100vh;

  .form {
	@include flexible(column, center, flex-start);

	width: 400px;
	padding: 50px;
	gap: 20px;

	border: 2px solid $hover;
	background-color: $back;
  }
}