@use "/src/utils/mixins/flex" as *;
@use "/src/utils/constants/colors" as *;
@use "/src/utils/constants/sizes" as *;

.wrapper {
  @include flexible(row, center, center);

  .inner {
	@include flexible(column, center, center);
	flex-wrap: wrap;

	padding: 20px;
	width: $pre-big;
	gap: 50px;
  }
}