@use "/src/utils/mixins/flex" as *;
@use "/src/utils/constants/colors" as *;

.wrapper {
  @include flexible(row, center, center);

  gap: 10px;

  .social {
	.icon {
	  transition: fill 0.5s;
	}

	&:hover {
		.icon {
		  fill: $hover;
		}
	}
  }
}