@use "/src/utils/mixins/flex.scss" as *;
@use "/src/utils/constants/sizes.scss" as *;
@use "/src/utils/constants/colors.scss" as *;

.wrapper {
  @include flexible(row, flex-start, flex-start);

  width: 100%;
  position: relative;

  .filter {
    width: 20%;
    margin-top: 80px;

    @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
      width: $mini;
    }

    @media screen and (max-width: $pre-medium) {
      margin-top: 50px;
      width: 100%;
    }
  }
}