@use "/src/utils/mixins/flex" as *;
@use "/src/utils/constants/colors" as *;

.wrapper {
  @include flexible(row, center, space-between);
  flex-wrap: wrap;

  width: 100%;
  padding: 10px;
  gap: 10px;

  border-bottom: 2px solid $low;

  .button {
	width: 24px;
	height: 24px;
  }
}