@use "/src/utils/mixins/flex" as *;
@use "/src/utils/constants/colors" as *;
@use "/src/utils/constants/sizes" as *;

.wrapper {
  @include flexible(row, center, center);

  background: $back;

  .inner {
	@include flexible(row, flex-start, space-around);
	flex-wrap: wrap;

	padding: 20px;
	width: $pre-big;
	gap: 50px;

	.logo {
	  width: 200px;
	  height: 50px;
	}

	.link {
	  @include flexible(column, center, center);

	  text-align: center;
	  gap: 5px;
	  width: 100px;
	}
  }
}