@use "../../../../utils/mixins/flex" as *;
@use "../../../../utils/constants/sizes" as *;
@use "../../../../utils/constants/colors" as *;

.wrapper {
  @include flexible(column, flex-start, center);
  flex-basis: 30%;

  gap: 15px;
  position: relative;
  z-index: 1;

  border: 2px solid white;
  transition: border-color 0.5s, transform 0.5s ease-in-out;

  .logo {
	width: 100%;
  }

  .info {
	@include flexible(column, center, center);

	width: 100%;
	min-height: 0;
	z-index: 1;
	padding: 10px;
	bottom: 0;
	position: absolute;

	transition: min-height 0.5s ease-in-out;
	background: #00000080;
	text-align: center;

	@media screen and (max-width: $pre-medium) {
	  display: none;
	}
  }

  @media screen and (min-width: $pre-big) {
	flex-basis: 30%;

	&:hover {
	  border: 2px solid $discount;
	  background: white;
	  transform: scale(1.2);

	  .info {
		min-height: 100%;
	  }
	}
  }

  @media screen and (max-width: $pre-big) and (min-width: $medium) {
	flex-basis: 30%;
  }

  @media screen and (max-width: $pre-big) and (min-width: $pre-medium){
	&:active {
	  border: 2px solid $discount;
	}
  }

  @media screen and (max-width: $medium) and (min-width: $pre-medium) {
	flex-basis: 40%;
  }

  @media screen and (max-width: $pre-medium) {
	flex-basis: 70%;
  }
}