@use "../../../../utils/mixins/flex" as *;
@use "../../../../utils/constants/sizes" as *;
@use "../../../../utils/constants/colors" as *;

.wrapper {
  @include flexible(column, center, flex-start);
  flex-wrap: wrap;

  width: 80%;
  position: relative;
  left: 0;
  gap: 20px;

  @media screen and (max-width: $pre-big) {
	width: 100%;
  }

  @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
	transition: left 0.5s ease-in;
  }

  .pre {
	@include flexible(row, center, space-between);

	width: 100%;

	@media screen and (min-width: $pre-big) {
	  @include flexible(row, center, flex-end);
	}

	.switcher {
	  padding: 5px;

	  border: 2px solid $title;
	  cursor: pointer;

	  @media screen and (min-width: $pre-big) {
		display: none;
	  }

	  &:active {
		color: white;
		background: $title;
	  }
	}

	.container {
	  @include flexible(row, baseline, center);

	  gap: 5px;
	}
  }

  .list {
	width: 100%;

	.border {
	  width: 100%;
	  height: 200px;
	  border: 5px solid $shop;
	  position: absolute;

	  @media screen and (max-width: $pre-medium) {
		border: 0;
		border-top: 5px solid $shop;
	  }
	}

	.items {
	  @include flexible(row, flex-start, space-around);
	  flex-wrap: wrap;

	  width: 100%;
	  row-gap: 50px;
	  padding: 15px;
	}
  }
}

.moved {
  @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
	left: $mini;
  }
}