@use "../../../../utils/mixins/flex" as *;
@use "../../../../utils/constants/sizes" as *;
@use "../../../../utils/constants/colors" as *;

.wrapper {
  @include flexible(column, center, flex-start);
  flex-wrap: wrap;

  position: relative;
  left: 0;

  width: 80%;
  gap: 20px;
  z-index: 15;

  .pre {
	@include flexible(row, center, space-between);

	width: 100%;

	@media screen and (min-width: $pre-big) {
	  @include flexible(row, center, flex-end);
	}

	.switcher {
	  padding: 5px;
	  border: 2px solid $title;
	  cursor: pointer;

	  @media screen and (min-width: $pre-big) {
		display: none;
	  }

	  &:active {
		color: white;
		background: $title;
	  }
	}
  }

  .list {
	width: 100%;

	.border {
	  width: 100%;
	  height: 200px;
	  border: 5px solid $shop;
	  position: absolute;
	}

	.items {
	  @include flexible(row, flex-start, space-around);

	  margin-top: 10px;
	  background: white;
	  z-index: 1;
	  width: 95%;
	  flex-wrap: wrap;
	  row-gap: 50px;
	  padding: 10px;
	}
  }

  @media screen and (max-width: $pre-big) {
	width: 100%;
  }

  @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
	transition: left 0.5s ease-in;
  }
}

.moved {
  @media screen and (max-width: $pre-big) and (min-width: $pre-medium) {
	transition: left 0.5s ease-in;
	left: $mini;
  }
}