@use "/src/utils/constants/colors.scss" as *;

.default {
  text-decoration: none;
}

.hovered {
  &:hover {
    svg {
      fill: $hover;
      transition: 0.5s;
    }

    span {
      color: $hover;
      transition: 0.5s;
    }
  }
}